/* UNIVERSAL STYLES */

html {
    font-size: 16px;
    font-family: Arial, Helvetica, 'Arial Narrow', sans-serif;
    background-color: #fff;
    box-sizing: border-box; 
}

strong {
    font-weight: 700;
    color:black;
    opacity: 0.75;
}

main {
    position: relative;
    top: 4rem;
}

h1{
    font-size: 2rem;
    font-weight: bold;

}

/* Header */

/* HEADER DESKTOP */
header .mobile{
    display: none;
}

header {
    width:100%;
    position: fixed;
    z-index:100;
    background-color: #fff;
}

header .content {
    height: 4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

.content .logo{
    display:inline-flex;
}

.logo-text{
    height:2rem;
    font-size: 1.3rem;
    color: gray;
    font-weight: 100;
    align-items: center;
    display: flex;
}
.logo img{
    height: 2.2rem;
    width: auto;
    display: flex;
    flex: 1;
}
.content nav ul{
    display: flex;
    align-items: center;
}
li .empty{
    width: 1rem;
    height: 4rem;
    background-color: #92e0e0;
}

/* HEADER MOBILE */

@media only screen and (max-width:960px){
    header .desktop{
        display: none;
    }
    header .mobile{
        display: block;
    }

    .mobile nav{
        width: 100%;
    }
    .mobile .content img{
        height: 2.2rem;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
}


/* Main content */


/* First Chapter */
.chapter-first {
    background-color: #d8d8d8;
}
.chapter-first .content{
    font-family: 'Open Sans';
    display: flex;
}

.content .image-cont{
    width:60%;
    margin: 2rem 1.5rem;
}

.content .image-cont img{
    width:100%;
    overflow:hidden;
}
.content .text-cont{
    width:40%;
    padding-left: 1rem;
    margin:auto;
}

.content .text-cont h1{
    width: 22rem;
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #4a4a4a;
}

.content .text-cont h4{
    width: 22rem;
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0;
    color: #4a4a4a;
}
.content .text-cont .button{
    width: 22rem;
    background-color: #4a4a4a;
    color:#fefefe; 
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding:0.5rem 0;
    text-align: center;
}

/* First Chapter mobile*/

@media only screen and (max-width:960px){
    .content .text-cont .button{
        background-color: #9b9b9b;
        font-size: 1.2rem;
    }
    .chapter-first .content{
        display:block;
    }
    .content .image-cont{
        width:100%;
        margin: 0;
    }
    .content .text-cont{
        width: 22rem;
        padding:2rem 1rem;
        justify-items: center;
    }
    .content .text-cont h1{
        line-height: 3.5rem;
    }
}

@media only screen and (max-width:450px){
    .content .text-cont{
        width: 22rem;
        padding:2rem 1rem;
    }
}
