/* UNIVERSAL STYLES */

html {
    font-size: 16px;
    font-family: Arial, Helvetica, 'Arial Narrow', sans-serif;
    background-color: #fff;
}

strong {
    font-weight: 700;
    color:black;
    opacity: 0.75;
}

/* Header */

/* HEADER DESKTOP */
header .mobile{
    display: none;
}

header {
    width:100%;
    position: fixed;
    z-index:100;
}

header .content {
    height: 4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

.content .logo{
    display:inline-flex;
}

.logo-text{
    height:2rem;
    font-size: 1.3rem;
    color: gray;
    font-weight: 100;
    align-items: center;
    display: flex;
}
.logo img{
    height: 2rem;
    width: auto;
    display: flex;
    flex: 1;
}
.content nav ul{
    display: flex;
    align-items: center;
}
li .empty{
    width: 1rem;
    height: 4rem;
    background-color: #92e0e0;
}

/* HEADER MOBILE */

@media only screen and (max-width:610px){
    header .desktop{
        display: none;
    }
    header .mobile{
        display: block;
    }

    .mobile nav{
        width: 100%;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
}