/* UNIVERSAL STYLES */

html {
    font-size: 16px;
    font-family: Arial, Helvetica, 'Arial Narrow', sans-serif;
    background-color: #fff;
    /*box-sizing: border-box;*/ 
    color: #4a4a4a;
}

main {
    position: relative;
    top: 4rem;
}

strong {
    font-weight: 700;
    color:black;
    opacity: 0.75;
}

.gray {
    background-color: #d8d8d8;
}

h1{
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 800;
    font-size: 2.6rem;
    line-height: 3.2rem;
}

h2{
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 800;
    font-size: 2.1rem;
    line-height: 3rem;
}

h3{
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.7rem;
}
h4{
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

h5{
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
}
p{
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

/* Header */

/* HEADER DESKTOP */
header .mobile{
    display: none;
}

header {
    width:100%;
    position: fixed;
    z-index:100;
    background-color: #fff;
}

header .content-0 {
    height: 4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

.content-0 .logo{
    display:inline-flex;
}

.logo-text{
    height:2rem;
    font-size: 1.3rem;
    color: gray;
    font-weight: 100;
    align-items: center;
    display: flex;
}
.logo img{
    height: 2.2rem;
    width: auto;
    display: flex;
    flex: 1;
}
.content-0 nav ul{
    display: flex;
    align-items: center;
}
li .empty{
    width: 1rem;
    height: 4rem;
    background-color: #92e0e0;
}

/* HEADER MOBILE */

@media only screen and (max-width:960px){
    header .desktop{
        display: none;
    }
    header .mobile{
        display: block;
    }

    .mobile nav{
        width: 100%;
    }
    .mobile .content-0 img{
        height: 2.2rem;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
}


/* Main content */

/* First Chapter */

.chapter-first .content-1{
    font-family: 'Open Sans';
    display: flex;
    flex: 1 1;
}

.content-1 .image-cont{
    width:60%;
    margin: 2rem 1.5rem;
}

.content-1 .image-cont img{
    width:100%;
    overflow:hidden;
}
.content-1 .text-cont{
    width:40%;
    padding-left: 1rem;
    margin:auto;
}

.content-1 .text-cont h1{
    width: 23rem;
    color: #4a4a4a;
}

.content-1 .text-cont h4{
    width: 22rem;
    color: #4a4a4a;
    margin: 2rem 0;
}
.content-1 .text-cont .button{
    width: 22rem;
    background-color: #4a4a4a;
    color:#fefefe; 
    padding:0.5rem 0;
    text-align: center;
}

/* First Chapter mobile*/

@media only screen and (max-width:960px){
    .content-1 .text-cont .button{
        background-color: #9b9b9b;
        font-size: 1.2rem;
    }
    .chapter-first .content-1{
        display:block;
    }
    .content-1 .image-cont{
        width:100%;
        margin: 0;
    }
    .content-1 .text-cont{
        width: 22rem;
        padding:2rem 1rem;
        /* justify-items: center; */
    }
    .content-1 .text-cont h1{
        line-height: 3.5rem;
    }
    .content-1 .text-cont .button{
        padding:1rem 0;
        font-weight: 600;
        font-size: 1.3rem;
    }
}

/* Second Chapter mobile*/
.mobile{
    display: none;
}
.chapter-second{
    display: flex;
}

.chapter-second h5{
    font-weight: 600;
}
/* LEFT */

.chapter-second .left{
    width:60%;
    padding: 2rem 1.5rem;
    border-right: 2px solid #d8d8d8;
}
.chapter-second .left img {
    width:100%;
    overflow:hidden;
    margin-bottom: 2rem;
}

.chapter-second .left .text-cont h2{
    margin-bottom: 1.5rem;
}
.chapter-second .left .text-cont h5{
    margin-top: 2rem;
}


/* RIGHT */
.chapter-second .right{
    width:40%;
    margin: 1rem 0 2rem 0;

}
.chapter-second .right .content-item{
    display:flex;
}

.chapter-second .right .text-cont{
    width:65%;
    margin:1rem;
}
.chapter-second .right .image-cont{
    width:35%;
    overflow:hidden;
}
.chapter-second .right img{
    height:auto;
    margin:1rem;
}
.chapter-second .content-item .text-cont{
    margin:auto;
    padding-left: 1.5rem;
}
.chapter-second .right .text-cont p{
    margin: 1.5rem 0;
}
.chapter-second .right .text-cont h5{
    color: #4d92e2;
}


@media only screen and (max-width:960px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }

    .chapter-second .right{
        width:100%;
        margin:1rem;
    }
    .chapter-second .right .content-item{
        display: block;
        overflow: hidden;
        background-color: white; 
    }
    .chapter-second .right img{
        width: 100%;
        margin:0;
        overflow: hidden;
    }
    .chapter-second .right .text-cont{
        width:100%;
        padding-left: 1rem;
        margin-bottom:2rem;
    }
    .chapter-second .right .image-cont{
        width:100%;
        margin:2rem 0;
        overflow: hidden;
    }
    .chapter-second .right .text-cont h5{
        color: #4d92e2;
    }
}

/* Third Chapter design */

.chapter-third {
    background-color: #eaebec;
    padding: 2rem 3.5rem;
}
.chapter-third .text-item{
    width:100%;
    text-align: center;
    margin-bottom:1rem;
}
.chapter-third .courses{
    width:100%;
    display: flex;
    flex-wrap: wrap; 
}
.chapter-third .course-item{
    min-width: 30rem;
    margin:1rem;
    flex:1;
    background-color: white;
}
.chapter-third .image-cont{
    overflow: hidden;

}
.chapter-third img{
    height:auto;
    width:100%
}
.chapter-third .text-cont{
    width:20rem;
    padding:1rem;
    padding-bottom: 1.5rem;
}
.chapter-third h5{
    margin-top: 1rem;
    padding: 0.5rem 0;
}
.chapter-third p{
    padding-bottom: .5rem;
    line-height: 1.5rem;
}
@media only screen and (max-width:960px){
    .chapter-third {
        background-color: white;
        margin: 0rem  auto;
        padding:2rem 0;
        border: 1px solid #d8d8d8;
        display: block;
    }
    .chapter-third .text-item{
        margin-bottom:.5rem;
    }
    .chapter-third .courses{
        flex-direction: column;
    }
    .chapter-third .course-item{
        background-color: #d8d8d8;
        min-width: 20rem;
        flex:1 1;
        margin:0 1rem;
        margin-top: 0.5rem;
    }

    .chapter-third .text-cont{
        padding:1rem;
        padding-bottom: 1.5rem;
    }
    .chapter-third h5{
        margin-top: 1rem;
        padding: 0.5rem 0;
    }
    .chapter-third p{
        padding-bottom: .5rem;
        line-height: 1.5rem;
    }
}